
.btn-treehouse {
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
  }

.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
  }
